services:
  - type: web
    name: tds-ga1-semantic-search
    runtime: python
    rootDir: semantic_search
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: GEMINI_API_KEY
        sync: false
